@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
    --main-color: #002557;
    --second-color: #eebb6a;
    --background-color: #5f86ce;
    --main-font: 'Poppins';
    --title-font: 'Montserrat';
    --paragraph-title-font: 'Open Sans';
    --paragraph-font: 'Nunito';
    --entity-name-font: 'Source Sans Pro';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-content: center;  
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: #ffffff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/*
=========================== LEFT SECTION ===========================
*/
.container .left-side {
        position: relative;
        background: var(--main-color);
        padding: 40px;
    }

.profile-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /*separator line*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.profile-header .img-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-header .img-container img {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-header h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profile-header span {
    font-size: 0.8em;
    font-weight: 100;
}

.personal-info, .contact-info, .tech-skills{
    padding-top: 15px;
}
.title{
    color: var(--second-color) ;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-family: var(--title-font);
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.personal-info ul, .contact-info ul, .tech-skills ul{
    position: relative;
    list-style: none;
}
.personal-info ul li, .contact-info ul li, .tech-skills ul li {
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: auto;
}
.personal-info ul li .icon, .contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--second-color);
}
.contact-info ul li span .fa-map-marker{
    padding-left: 3px;
} /*to center the map icon*/
.personal-info ul li span, .contact-info ul li span, .tech-skills ul li span{
    color: #dafff3;
}
.contact-info ul li a {
    text-decoration: none;
    color: #dafff3;
    cursor: pointer;
}

/*
=========================== RIGHT SECTION ===========================
*/
.container .right-side {
    position: relative;
    background: #ffffff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}

.section-title {
    color: #ff6a00;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/*work experience*/
.experience-n {
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--main-color);
}
.experience-n-last {
    position: relative;
    padding: 10px;
}
.experience-n p{
    font-family: var(--paragraph-font);
}
.experience-n-last p {
    font-family: var(--paragraph-font);
}
.experience-list {
    list-style: circle;
    padding: 5px;
    margin-inline-start: 10px;
}

.experience-list li {
   font-family: var(--paragraph-font);
}

.experience-content a {
    text-decoration: none;
    color: #069d00;
}
a:hover {
    color: #002557;
}

.time-period {
    padding: 5px;
    color: var(--main-color);
}
.paragraph-title {
    padding: 2px;
    margin-bottom: 4px;
    font-family: var(--paragraph-title-font), sans-serif;
}
.paragraph-title-others {
    padding: 2px;
    margin-bottom: 6px;
    font-family: var(--paragraph-title-font), sans-serif;
    text-decoration: underline;
    letter-spacing: 0.1em;
}
.entity-name {
    margin-bottom: 10px;
    font-family: var(--entity-name-font);
    font-size: 18px;
}
.location {
    float: right;
}
.score {
    margin-bottom: 10px;
}


/*table*/
#languages {
    border-collapse: collapse;
    font-family: var(--main-font), sans-serif;
    width: 100%;
}
#languages td, #languages th {
    border: 1px solid #ddd;
    padding: 8px;
}
#languages tr:nth-child(even) {
    background-color: #f2f2f2;
}
#languages th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c1812f;
    color: white;
}


/*TODO responsiveness*/
@media screen and (max-width: 700px) {
    .left-side {
        display: none;
    }
}